html {
    font-size: 18px; /* Setter grunnstørrelsen på teksten til 18px for hele dokumentet */
    max-width: 800px;
    text-align: left;
    padding: 10px;
}

* {
    box-sizing: border-box; /* Inkluderer padding og border i elementets totale bredde og høyde */
}

body {
    font-family: sans-serif;    /* Nettstedet har font sans-seriff */
    
}

img {
    width: 100%; /* Bildet tar opp 100% av containerens bredde */
}

/*_________SØKEFELT_START_________*/

form input{
       border-style:solid ; 
       border-color: #000000;
       background-color: #ffffff;
       padding: 10%;
       padding-top: 2%;
       padding-bottom:2%;
    }
    
/*___________SØKEFELT_SLUTT__________*/



/*____Navigasjonsbar_start______*/


    ul.navigasjonsbar {
        list-style: none; /* Fjern standard kulepunkter */
        padding: 10px; /* Fjern standard padding */
        margin: 0; /* Fjern standard margin */
        line-height: 30px; /* Juster høyden på linjene */
        max-width: 100%; /* Sørg for at den ikke overskrider tilgjengelig plass */
    }
    
    ul.navigasjonsbar li {
        display: block; /* alt faller under hverandre */
    }
    
    ul.navigasjonsbar a {
        color: #000000;
        text-decoration: none;
    }

    /* Hover-funksjonen under var ikke del av E-kravet, 
    men var en kjekk funksjon som var lett å legge inn 
    så jeg valgte å legge det inn likevel
    Koden hentet fra: https://www.w3schools.com/howto/howto_css_breadcrumbs.asp */

    ul.navigasjonsbar a:hover { 
        color: #836644;
        text-decoration: underline;
    }

/*_____Navigasjonsbar_slutt______*/




/* ________Banner_START________*/
.banner {                   /* Selve banneret med bakgrunn og ingress */
    position: relative;
    text-align: right;
    color: #ffffff;  
    background-color: #3b4c4e;
    padding: 20px;
    width: 100%;
    height: 300px;
}
    
#bannerlenke{               /* Lenkeboks i banneret */
    padding: 1px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #ffffff;
    width: 100%;
    text-align:right;
}
    
#bannerlenke a{             /* Lenken i banneret*/
    color: #000000;
    text-decoration:none; 
    font-size: 20px;
}

.banner h2{                 /* Overskriften på banneret */
    font-size: 20px;
    color: #ffffff;
}


.top-right {                /*teksten på bannerets posisjon*/
    position: absolute;
    top: 20px;
    right: 25px;
    left: 140px;
}
/*_________BANNER_SLUTT_________*/



/*____________PRODUKTSEKSJON_FORSIDE_START______*/

#Våre_mest_populære_produkter h2{
    font-size: 25px;                   /*Gjør overskriften for seksjonen tydelig*/
}

#Våre_mest_populære_produkter{
    display: block;                    /* Innholder faller under hverandre */
    
}

#Våre_mest_populære_produkter a{       /* Får lenken til å se  ut som vanlig tekst */
    color: #000000;
    text-decoration: none;
}

.Våre_mest_populære_produkter img{
        width: 100%;                  /* Bildet tar 100% av sidens bredde */
    }

.knapp { /* knapper for våre mest populære produkter */
    border-color: black;
    border-style: solid;
    background-color: transparent;
    padding: 5%;
    margin:10px;
}
/*____________PRODUKTSEKSJON_FORSIDE_SLUTT_______*/



/*____________KATEGORISEKSJON_FORSIDE_SLUTT_______*/
#Våre_mest_populære_kategorier h2{
    font-size: 25px;                /* Gjør overskriften for seksjonen tydelig */
}


#Våre_mest_populære_kategorier article{
    
    color: #000000;

    width: 100%;            /*bredden på kategorikortet*/
    height: 300px;          /*høyden på kategorikortet*/

    border-style: solid;
    border-width: 2px;
    border-color: #000000;

    text-align: center;   /* teksten i kategorikortet blir flyttet fra venstre til midten */
    align-content: center;  /* teksten i kategorikortet blir flyttet fra helt øverst i kortet til midten */
    margin-bottom: 30px;
}

/*____________KATEGORISEKSJON_FORSIDE_SLUTT_______*/




/*_______ANNMELDELSER_START________*/
#anmeldelser article{
    border: black;
    border-style: solid;
    margin-bottom: 20px;
    text-align: left;
    padding: 20px;
}

#anmeldelser img{
        max-width: 150px;
    }
/*_______ANNMELDELSER_SLUTT________*/




/*_____BRØDSMULESTI_START_______*/
 ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #ffffff;
  }
  
  ul.breadcrumb li {
    display: inline;            /* Innholdet faller sideslengs */
    font-size: 18px;
  }
  
  ul.breadcrumb li+li:before {      
    padding: 8px;
    color: black;
    content: ">\00a0";
  }
  
  ul.breadcrumb li a {              /* del av brødsmulesti for tidligere steg */
    color: #644c32;
    text-decoration: none;
  }
  
/*_____BRØDSMULESTI_SLUTT_______*/





/*______PRODUKTSIDEN_START_____*/

/*_____PRODUKTBILDER_____*/
#produktbilder{
    display: block;
    width: 100%;
}

#produktnavn a{             /* Får lenken til å se  ut som vanlig tekst */
    text-decoration: none;
    color: #000000;
}

#produktnavn button{
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

#produktnavn select{
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

#produktbilder h2{
        color: transparent;
        font-size: small;
}

#produktbilder img{
    padding-bottom: 20px;
}

/*_____PRODUKTBILDER_____*/


/*_________LIGNENDE_PRODUKTER________*/

#produktkort article a{            /* Får lenken til å se  ut som vanlig tekst */
    text-decoration: none;
    color: #000000;
}

#produktkort img{
    width: 100%;
}

#produktkort article{
    display: block;        /* Innholder faller under hverandre */
}

/*_________LIGNENDE_PRODUKTER________*/



/*_____PRODUKTSIDEN_SLUTT_____*/







/*______KASSESIDE_START______*/

/*____SHOPPINGBAG____*/
#shoppingbag{
    display: block;
    width: 100%;
    text-align: left;
}
#shoppingbag img{
    width: 100%;
}

#shoppingbag a{             /* Får lenken til å se  ut som vanlig tekst */
    text-decoration: none;
    color: #000000;
}
/*____SHOPPINGBAG____*/



/*___KASSESIDEN_SLUTT____*/



/*____PERSONOPPLYSNINGER_START______*/

#personopplysninger{
    padding: 20px;
}

#personopplysninger button{
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
}

#personopplysninger label{
    line-height: 50px;
}

#personopplysninger input {
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    border-color: #000000;
    text-align: left;
  }
/*____PERSONOPPLYSNINGER_SLUTT______*/


#levering{
    text-align: left;
    padding: 20px;
}
#levering label{
    display: block;
    line-height: 30px;
    
}

input[type="radio"]{
    accent-color:#000000
    
}

/*____BETALING_START______*/
#betaling{
    padding: 20px;
}

#betaling button {
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    padding: 10px;   
}

#betaling label{
    line-height: 50px;
}

#betaling input {
    width: 100%;
    padding: 10px; 
    background-color: #ffffff;
    border-color: #000000;
    text-align: left;
}
/*_____BETALING_SLUTT______*/

#betaling #samtykke{
    line-height: 30px;
}

#betaling #samtykke label {
    display: flex; /* Flexbox for horisontal plassering */
    align-items: center; /* Justerer avhukingsboks og tekst vertikalt */
    gap: 5px; /* Mindre mellomrom mellom avhukingsboks og tekst */
    margin-bottom: 50px; /* Redusert avstand mellom radene */
    line-height: 30px;
}

#betaling #samtykke input[type="checkbox"] {
    accent-color: #000000; /* Valgfri styling for avhukingsboksene */
    width: auto; /* Sørg for at avhukingsboksen holder seg i standard størrelse */
}
/*___SKJEMAER_KASSESIDEN_SLUTT____*/


#Logo_og_ingress{
   padding-top: 10px;
   padding-bottom: 10px;
}

#Kontakt{
    padding-top: 10px;
    padding-bottom: 10px;
 }

 #Snarveier{
    padding-top: 10px;
    padding-bottom: 10px;
 }
#Snarveier ul{
    
    list-style: none;
    display: block;        /* Innholder faller under hverandre */
}

#Snarveier a{
    color: #000000;  
}

 #Sosiale_medier{
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;        /* Innholder faller under hverandre */
 }

 #Sosiale_medier a{
    color: #000;
    display: block;         /* Innholder faller under hverandre */
 }